.margin-top-5 {
    margin-top: 10px;
}

.panel-scroll {
    height: 300px;
    overflow-y: auto;
}
body{
    color: darkred;
    background-color: aquamarine;
}

/*Style of nav.html */
.user {
    font-weight: bold;
}

.logout {
    cursor: pointer;
    margin-left: 5px;
}
.navbar-brand h1{ /* site-name*/
    font-family: 'Lora', serif;
    color: darkred;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
/*End: Style of nav.html*/