.margin-top-5 {
    margin-top: 10px;
}

.panel-scroll {
    height: 300px;
    overflow-y: auto;
}
body{
    color: darkred;
    background-color: aquamarine;
}

/*Style of name of site*/
.user {
    font-weight: bold;
}

.logout {
    cursor: pointer;
    margin-left: 5px;
}
.site-name{
    background-color: green;
}
/*End: style of name of site*/